/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
/* Conteúdo */
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(fundo2.svg);
    background-size: cover;
    background-position: center;
  
}
/* Nav */
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 40px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
/* Início das animações do nav */
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}
/*Fim da animação */

/* Formulário */
h2 {
    color: #fff;
    font-weight: 100;
    text-align: center;
   padding-bottom: 25px;
}
.formulario {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.inputs {
    margin-bottom: 30px;
    position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

/* Animção do Formulário*/
input:focus~label, input:valid~label, 
textarea:focus~label, textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo .inputs {
    flex-basis: 48%;
}

/*Rodapé */
footer {
    background: black;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
}